*{
    margin:0;
    padding: 0;
    
}

.main{
    width:100%;
    background-color: white;
    background-position: center;
    background-size: cover;
    
}
.navbar{
    background-color: #1f2937;
    height: 500px;
    padding-top: 20px;
    
}
.icon{
    width:200px;
    float:left;
    height:70px;
    padding-left: 200px;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
    
    
}
.menu{
    
    float:right;
    margin-left: 50px;
    color: #E5E7EB;

}
.menu ul{
    display: flex;
    float: right;
    margin-right: 200px;
    padding-bottom: 20px;
    color: #E5E7EB;
}
ul li{
    list-style: none;
    margin-left: 20px;
    
 }
ul li a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

#btn{
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid #3882f6;
    font-size: 15px;
    color: #ffff;
    margin-top: 5px;
    width: 130px;
    height: 35px;
    font-weight: bold;
}
.heading{
    width:450px;
    height:40px;
    padding-top: 120px;
    padding-left: 200px;
}
.content{
    color: #F9FAF8;
    font-size: 48px;
}
p{
  font-size: 18px;
  color:  #E5E7EB;
  font-weight: 100;
}
.image{
    
    border:solid  grey;
    width: 520px;
    height:230px;
    float: right;
    margin-right: 200px;
    background-color: grey;
    text-align: center;
    float: right;
    
   
}
.image p{
    
    padding-top: 80px;
    padding-left: 40px;
}
.mid{
    margin-top: 50px;
    font-size: 36px;
    color:#1f2937;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.row{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.box1{
    width:150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid #3882f6;
    margin-left: 30px;
}
.box2{
    width:150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid #3882f6;
    margin-left: 30px;
}
.box3{
    width:150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid #3882f6;
    margin-left: 30px;
}
.box4{
    width:150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid #3882f6;
    margin-left: 20px;

}
.text{
    padding-top: 160px;
    padding-bottom: 50px;
    color:  #5f6162;
    font-family: 'Times New Roman';
    font-weight: 800;
    display: flex;
    text-align: initial;
    
}
.section{
    background-color: #E5E7EB;
    margin-top: 200px;
    height:430px;
    padding-top: 50px;
}
.quote{
    display: block;
    width:100px;
    height:150px;
    color:  #1f2937;
    font-size: 36px;
     font-weight: lighter;
     font-style: italic;
     justify-content: center;
     align-items: center;
     margin-top: 130px;
     min-width: 60%;
     margin-left: 300px;
}
h5{
    float:left;
    margin-left: 60%;
    
    font-size: 18px;
}
.last{
    margin-top: 100px;
    margin-bottom: 100px;;
    margin-left: 300px;
    width:1000px;
    height: 150px;
    background-color: #3882f6;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
.action{
    text-align: justify;
    padding-left: 120px ;
    padding-top: 50px;
    font-size: 20px;
}

.button{
    float:right;
    width:100px;
    height: 30px;
    border-radius: 5px;
    margin-right: 100px;
   margin-top: 60px;
   border:2px  white solid ;
   background-color: #3882f6;
   color: white;
   font-weight: bold;
}
footer{
    margin-top: 20px;
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #1f2937;
    color:#E5E7EB ;
    padding-top: 40px;
    font-size: 18px;
}
